<a href="https://colab.research.google.com/github/darshanj99/Python_MS/blob/main/Final_LF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import pandas as pd
import numpy as np
df = pd.read_csv('/content/Task2.csv')
print(df.head())

     id  sales_amt  qty  discount  profit_amt  order.order_id order.ship_mode  \
0  2698   261.9600    2      0.00     41.9136  CA-2014-145317  Standard Class
1  6827   731.9400    3      0.00    219.5820  CA-2016-118689  Standard Class
2  8154    14.6200    2      0.00      6.8714  CA-2017-140151     First Class
3  2624   957.5775    5      0.45   -383.0310  CA-2017-127180     First Class
4  4191    22.3680    2      0.20      2.5164  CA-2017-166709  Standard Class

  order.order_status order.order_purchase_date order.order_approved_at  ...  \
0          delivered       2018-07-11 19:46:00        2018-07-13 15:25  ...
1          delivered       2018-05-15 20:24:00        2018-05-15 20:55  ...
2          delivered       2018-02-28 13:40:00        2018-03-01 13:35  ...
3          delivered       2018-01-07 21:45:00        2018-01-07 21:57  ...
4          delivered       2018-02-22 00:06:00        2018-02-22 00:30  ...

                                product.product_name product.colors  \
0                  Bush Somerset Collection Bookcase           Pink
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...           Pink
2  Self-Adhesive Address Labels for Typewriters b...           Pink
3      Bretford CR4500 Series Slim Rectangular Table           Blue
4                     Eldon Fold 'N Roll Cart System           Blue

  product.category product.sub_category product.date_added  \
0        Furniture            Bookcases         2016-04-01
1        Furniture               Chairs         2016-11-04
2  Office Supplies               Labels         2016-08-01
3        Furniture               Tables         2016-11-15
4  Office Supplies              Storage         2016-08-01

  product.manufacturer     product.sizes   product.upc product.weight  \
0                  NaN                 9  6.400000e+11            NaN
1                  NaN        10,7,6,9,8  6.640000e+11            NaN
2                  NaN              11.5  8.870000e+11            NaN
3                  NaN  10.5,10,8.5,8,13  8.880000e+11            NaN
4                  NaN               NaN  6.040000e+11            NaN

  product.product_photos_qty
0                          4
1                          2
2                          3
3                          0
4                          0

[5 rows x 35 columns]

In [88]:
# create a new column for the month by extracting it from the date column
df['order.order_purchase_date'] = pd.to_datetime(df['order.order_purchase_date'])
df['month'] = df['order.order_purchase_date'].apply(lambda x: x.strftime('%B'))

# group the sales data by month and sum the sales amounts
monthly_sales = df.groupby('month')['sales_amt'].sum()

# print the month with the highest sales
print(monthly_sales.idxmax())

May

In [89]:
df2 = df.groupby(["month"], as_index=False)[["profit_amt"]].sum()
df2 = df2.assign(profit_percentage = lambda x: (x["profit_amt"]/df["profit_amt"].sum()).round(3))
print(df2.loc[df2["profit_percentage"].idxmax()])

month                    March
profit_amt           5129.2084
profit_percentage        0.956
Name: 7, dtype: object

In [90]:
df2_filtered = df2[df2['profit_percentage'] > 0.2]
num_months = df2_filtered.shape[0]
print(num_months)

3

In [91]:
import datetime

df['order.order_delivered_customer_date'] = pd.to_datetime(df['order.order_delivered_customer_date'])
df['order.order_estimated_delivery_date'] = pd.to_datetime(df['order.order_estimated_delivery_date'])
df['delay'] = (df["order.order_delivered_customer_date"]-df["order.order_estimated_delivery_date"])/pd.Timedelta(days=1)

In [121]:
#df['delay_status'] = np.where(df['delay'] > 0, 'Late', 'Early')
df["delay_status"] = df["delay"].apply(lambda x: "Late" if(x > 0) else "Early")
df_new = df[['order.order_id', 'delay_status']]
delay=(df_new[df_new['delay_status'] == "Late"].nunique()).loc['order.order_id']
print('no of orders late are: ',delay)

no of orders late are:  34

In [122]:
# group by vendor and count the number of late deliveries
vendor_delays = df.groupby('order.vendor.VendorID')['delay'].apply(lambda x: (x > 0).sum())

# sort in descending order
vendor_delays = vendor_delays.sort_values(ascending=False)

# print the vendor with the highest number of late deliveries
print("Vendor with highest number of late deliveries: ", vendor_delays.index[0])

Vendor with highest number of late deliveries:  VEN03