<a href="https://colab.research.google.com/github/darshanj99/Python_MS/blob/main/Task1_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
# Define the functions
import pandas as pd
import requests
import json

def get_api_data(api_url, headers=None):
    """
    Retrieve data from an API and return a JSON object.
    """
    response = requests.get(api_url, headers=headers)
    data = json.loads(response.text)
    return data

def json_to_dataframe(json_data):
    """
    Convert JSON data to a Pandas DataFrame.
    """
    df = pd.json_normalize(json_data, record_path='data')
    return df

In [15]:
# Retrieve data from the API and convert it to a Pandas DataFrame
api_url = "https://globalmart-api.onrender.com/mentorskool/v1/sales"
headers = {"access_token": "fe66583bfe5185048c66571293e0d358"}
data = get_api_data(api_url, headers=headers)
df = json_to_dataframe(data)

# Print the resulting DataFrame
print(df.head())

     id  sales_amt  qty  discount  profit_amt  order.order_id order.ship_mode  \
0  2698   261.9600    2      0.00     41.9136  CA-2014-145317  Standard Class
1  6827   731.9400    3      0.00    219.5820  CA-2016-118689  Standard Class
2  8154    14.6200    2      0.00      6.8714  CA-2017-140151     First Class
3  2624   957.5775    5      0.45   -383.0310  CA-2017-127180     First Class
4  4191    22.3680    2      0.20      2.5164  CA-2017-166709  Standard Class

  order.order_status order.order_purchase_date order.order_approved_at  ...  \
0          delivered       2018-07-11 19:46:00        2018-07-13 15:25  ...
1          delivered       2018-05-15 20:24:00        2018-05-15 20:55  ...
2          delivered       2018-02-28 13:40:00        2018-03-01 13:35  ...
3          delivered       2018-01-07 21:45:00        2018-01-07 21:57  ...
4          delivered       2018-02-22 00:06:00        2018-02-22 00:30  ...

                                product.product_name product.colors  \
0                  Bush Somerset Collection Bookcase           Pink
1  Hon Deluxe Fabric Upholstered Stacking Chairs,...           Pink
2  Self-Adhesive Address Labels for Typewriters b...           Pink
3      Bretford CR4500 Series Slim Rectangular Table           Blue
4                     Eldon Fold 'N Roll Cart System           Blue

  product.category product.sub_category product.date_added  \
0        Furniture            Bookcases         2016-04-01
1        Furniture               Chairs         2016-11-04
2  Office Supplies               Labels         2016-08-01
3        Furniture               Tables         2016-11-15
4  Office Supplies              Storage         2016-08-01

  product.manufacturer     product.sizes   product.upc product.weight  \
0                 null                 9  640000000000           null
1                 null        10,7,6,9,8  664000000000           null
2                 null              11.5  887000000000           null
3                 null  10.5,10,8.5,8,13  888000000000           null
4                 null              null  604000000000           null

  product.product_photos_qty
0                          4
1                          2
2                          3
3                          0
4                          0

[5 rows x 35 columns]